{% extends'base.html' %}
    {% block contents %}
    <div class="container">
        <h1>Envio de Imagem</h1>
        <form id="imageForm" enctype="multipart/form-data">
            <label for="imageUpload" class="image-label">Escolha uma imagem:</label>
            <input type="file" id="imageUpload" accept="image/*" class="input-file" required>
            <button type="submit" class="btn-submit">Enviar Imagem</button>
        </form>
        <div id="message"></div>
    </div>
    {% endblock %}
<script src="../static/js/uploadFoto.js"></script>
